.menu {
  background-color: #ffffff;
  background-image: url("../images/background_menu.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  position: relative;
  z-index: 1;
}

.menu__title {
  max-width: 800px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 800px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-family: "Noto Serif", "Times New Roman", serif;
}

.menu__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px;
}
